h1, h2, h3, p, small, a{
    color: $rd_col;
    line-height: 1.2;
}

h1{
    font-size: 50px;
}

p{
    font-size: 18px;
}

a:hover{
    color: $nd_col;
    text-decoration: none;
}

main{
    padding-top: 65px;
}

section{
    padding: 50px 0 80px;
}

section:nth-child(2n+1){
    background-color: white;
}

section:nth-child(2n+2){
    background-color: $st_col;
}

.btn-container{
    margin: 30px 0 15px;

    span{
        color: $rd_col;
        opacity: .7;
        margin: 0 10px;
    }
}

.btn-default{
    padding: 5px 20px;
    background-color: $nd_col;
    color: white;

    &:hover{
        background-color: #233569;
        color: white;
    }
}
