@media (min-width: 992px){
    header{

        border: none;

        &.scrolled{
            border-bottom: 1px solid $rd_col;
        }

        .navbar{
            padding: 20px 0;
            border-bottom: 1px solid $rd_col;

            &.scrolled{
                padding: 10px 0;
                border: none;
            }
        }

        .nav-item:not(:first-child){
            margin-left: 30px;
        }

        .btn-header{
            width: auto;

            &.scrolled{
                background-color: $nd_col;
                color: white;

                &:hover{
                    background-color: #233569;
                    color: white;
                }
            }
        }
    }

    main{
        padding-top: 85px;
    }

    h1, h2, h3, p, small, a{
        line-height: 1.5;
    }

    #second-section{
        .ts{
            text-align: left;
        }

        img{
            width: auto;
            height: 470px;
        }
    }

    footer {
        .wrap-brand{
            display: flex;
            justify-content: space-between;
            align-items: center;

            img{
                flex-shrink: 0;
            }

            p{
                margin: 0 0 0 15px;
            }
        }
    }
}

@media (min-width: 1200px){
    .container-fluid{
        width: 1150px;
    }

    .jumbotron{
        text-align: left;
    }
}
