.jumbotron{
    text-align: center;

    p{
        font-size: 22px;
    }

    img{
        margin-top: 35px;
    }
}

.wrap-img{
    margin: 30px 0;

    img{
        height: 100px;
    }
}

#first-section{
    .row{
        margin: 0;
    }

    .row:first-child{
        border-bottom: 1px solid $rd_col;
        margin-bottom: 80px;
    }

    .rabbit{
        margin: 70px 0 100px;
    }
}
